@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GUID Color</h1>
    <p>Guid Color Example</p>
</div>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Standard GUID</th>
            <th>Small + Color</th>
            <th>Color</th>
        </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < 256;)
        {
            var thisGuid = (i != 0) ? Guid.NewGuid() : Guid.Empty;

            int repeat = i == 0 ? 1 : Random.Shared.Next(1, 4);
            for (int j = 0; j < repeat && i < 256; i++, j++)
            {
                <tr class="table-row">
                    <td>@Html.DisplayFor(modelItem => thisGuid)</td>
                    <td>@Html.DisplayFor(modelItem => thisGuid, new { small = true, color = true })</td>
                    <td>@Html.DisplayFor(modelItem => thisGuid, new { small = false, color = true })</td>
                </tr>
            }
        }
    </tbody>
</table>
